<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LifeHub - Thêm giao dịch</title>

    <link rel="stylesheet" href="/LifeHub/app/static/CSS/expenses/add.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

    <div class="container">

        <!-- ================= SIDEBAR ================= -->

        <aside class="sidebar">

            <div>

                <div class="logo">

                    <i class="fa-solid fa-leaf"></i>

                    <h1>LifeHub</h1>

                </div>

                <nav>

                    <ul>

                        <li>

                            <a href="../dashboard.html">

                                <i class="fa-solid fa-house"></i>

                                Dashboard

                            </a>

                        </li>

                        <li>

                            <a href="../meal/list.html">

                                <i class="fa-solid fa-utensils"></i>

                                Meal

                            </a>

                        </li>

                        <li>

                            <a href="../habit/list.html">

                                <i class="fa-solid fa-circle-check"></i>

                                Habit

                            </a>

                        </li>

                        <li class="active">

                            <a href="list.html">

                                <i class="fa-solid fa-wallet"></i>

                                Expense

                            </a>

                        </li>

                        <li>

                            <a href="#">

                                <i class="fa-regular fa-calendar"></i>

                                Calendar

                            </a>

                        </li>

                        <li>

                            <a href="#">

                                <i class="fa-solid fa-chart-column"></i>

                                Reports

                            </a>

                        </li>

                        <li>

                            <a href="#">

                                <i class="fa-solid fa-bullseye"></i>

                                Goals

                            </a>

                        </li>

                        <li>

                            <a href="../setting/setting.html">

                                <i class="fa-solid fa-gear"></i>

                                Settings

                            </a>

                        </li>

                    </ul>

                </nav>

            </div>

            <div class="sidebar-card">

                <h3>

                    Kiểm soát chi tiêu

                </h3>

                <p>

                    Kiểm soát chi tiêu hôm nay để có một tương lai tài chính vững vàng hơn.

                </p>

                <img src="/LifeHub/app/static/IMG/plant.png" alt="Plant">

            </div>

        </aside>

        <!-- ================= MAIN ================= -->

        <main class="main">

            <!-- ================= TOPBAR ================= -->

            <header class="topbar">

                <div class="top-left">

                    <i class="fa-solid fa-bars"></i>

                    <h2>

                        Thêm giao dịch

                    </h2>

                </div>

                <div class="top-right">

                    <div class="theme-toggle">

                        <span id="lightBtn">☀️</span>

                        <span id="darkBtn" class="active">🌙</span>

                    </div>

                    <div class="notification">

                        <i class="fa-regular fa-bell"></i>

                        <span class="badge">

                            3

                        </span>

                    </div>

                    <div class="user">

                        <img src="../../static/IMG/default-avatar.png" id="topAvatar">

                        <span>

                            Xin chào, User

                        </span>

                        <i class="fa-solid fa-chevron-down"></i>

                    </div>

                </div>

            </header>

            <!-- ================= TITLE ================= -->

            <section class="page-title">

                <h1>

                    Thêm giao dịch chi tiêu

                </h1>

                <p>

                    Ghi lại khoản chi để quản lý tài chính hiệu quả hơn.

                </p>

            </section>

            <!-- ================= CONTENT ================= -->

            <div class="content">

                <!-- LEFT -->

                <div class="left">

                    <form class="expense-form">

                        <div class="card">

                            <h2>

                                <i class="fa-regular fa-file-lines"></i>

                                Thông tin giao dịch

                            </h2>

                            <div class="row">

                                <div class="form-group">

                                    <label>

                                        Danh mục <span>*</span>

                                    </label>

                                    <select id="category">

                                        <option>🍜 Ăn uống</option>

                                        <option>🚗 Di chuyển</option>

                                        <option>🛒 Mua sắm</option>

                                        <option>🎮 Giải trí</option>

                                        <option>💡 Hóa đơn</option>

                                    </select>

                                </div>

                                <div class="form-group">

                                    <label>

                                        Số tiền <span>*</span>

                                    </label>

                                    <input type="number" id="amount" placeholder="250000">

                                </div>

                            </div>

                            <div class="row">

                                <div class="form-group">

                                    <label>

                                        Ngày giao dịch <span>*</span>

                                    </label>

                                    <input type="date" id="date">

                                </div>

                                <div class="form-group">

                                    <label>

                                        Phương thức <span>*</span>

                                    </label>

                                    <select id="method">

                                        <option>💵 Tiền mặt</option>

                                        <option>💳 Thẻ ngân hàng</option>

                                        <option>📱 Ví điện tử</option>

                                    </select>

                                </div>

                            </div>

                            <div class="form-group">

                                <label>

                                    Mô tả <span>*</span>

                                </label>

                                <input type="text" id="title" maxlength="100" placeholder="Ví dụ: Bữa trưa với bạn bè">

                                <div class="count">

                                    <span id="titleCount">

                                        0

                                    </span>

                                    /100

                                </div>

                            </div>
                            <!-- ================= NOTE ================= -->

                            <div class="form-group">

                                <label>

                                    Ghi chú (tùy chọn)

                                </label>

                                <textarea id="note" rows="5" maxlength="200"
                                    placeholder="Thêm ghi chú nếu cần thiết..."></textarea>

                                <div class="count">

                                    <span id="noteCount">

                                        0

                                    </span>

                                    /200

                                </div>

                            </div>

                            <!-- ================= RECEIPT ================= -->

                            <div class="form-group">

                                <label>

                                    Đính kèm hóa đơn (tùy chọn)

                                </label>

                                <div class="upload-box" id="uploadBox">

                                    <input type="file" id="receipt" hidden>

                                    <i class="fa-solid fa-cloud-arrow-up"></i>

                                    <h3>

                                        Kéo thả file hoặc click để chọn

                                    </h3>

                                    <p>

                                        JPG, PNG, PDF (tối đa 5MB)

                                    </p>

                                    <small id="fileName">

                                        Chưa chọn tệp

                                    </small>

                                </div>

                            </div>

                            <!-- ================= BUTTON ================= -->

                            <div class="button-group">

                                <button type="reset" class="cancel-btn">

                                    Hủy bỏ

                                </button>

                                <button type="submit" class="save-btn">

                                    <i class="fa-regular fa-floppy-disk"></i>

                                    Lưu giao dịch

                                </button>

                            </div>

                        </div>

                    </form>

                </div>

                <!-- ================= RIGHT ================= -->

                <div class="right">

                    <!-- Preview -->

                    <div class="preview-card">

                        <h2>

                            Xem trước giao dịch

                        </h2>

                        <div class="preview-item">

                            <div class="icon food">

                                🍜

                            </div>

                            <div>

                                <strong id="previewCategory">

                                    Ăn uống

                                </strong>

                                <p>

                                    Danh mục

                                </p>

                            </div>

                        </div>

                        <div class="preview-item">

                            <i class="fa-solid fa-money-bill-wave"></i>

                            <div>

                                <strong id="previewAmount">

                                    000 .000đ

                                </strong>

                                <p>

                                    Số tiền

                                </p>

                            </div>

                        </div>

                        <div class="preview-item">

                            <i class="fa-regular fa-calendar"></i>

                            <div>

                                <strong id="previewDate">

                                    20/06/2026

                                </strong>

                                <p>

                                    Ngày giao dịch

                                </p>

                            </div>

                        </div>

                        <div class="preview-item">

                            <i class="fa-solid fa-wallet"></i>

                            <div>

                                <strong id="previewMethod">

                                    Tiền mặt

                                </strong>

                                <p>

                                    Phương thức

                                </p>

                            </div>

                        </div>

                        <div class="preview-item">

                            <i class="fa-solid fa-message"></i>

                            <div>

                                <strong id="previewTitle">

                                    Bữa trưa với bạn bè

                                </strong>

                                <p>

                                    Mô tả

                                </p>

                            </div>

                        </div>

                    </div>

                    <!-- Suggest -->

                    <div class="tips-card">

                        <h2>

                            Gợi ý cho bạn

                        </h2>

                        <div class="tip">

                            <div class="tip-icon blue">

                                <i class="fa-solid fa-chart-line"></i>

                            </div>

                            <div>

                                <h4>

                                    Ghi chép thường xuyên

                                </h4>

                                <p>

                                    Ghi chép mỗi ngày giúp bạn kiểm soát chi tiêu tốt hơn.

                                </p>

                            </div>

                        </div>

                        <div class="tip">

                            <div class="tip-icon green">

                                <i class="fa-solid fa-tags"></i>

                            </div>

                            <div>

                                <h4>

                                    Chọn đúng danh mục

                                </h4>

                                <p>

                                    Phân loại chính xác giúp thống kê dễ dàng hơn.

                                </p>

                            </div>

                        </div>

                        <div class="tip">

                            <div class="tip-icon orange">

                                <i class="fa-solid fa-bullseye"></i>

                            </div>

                            <div>

                                <h4>

                                    Thiết lập ngân sách

                                </h4>

                                <p>

                                    Theo dõi ngân sách để tránh chi tiêu vượt mức.

                                </p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </main>

    </div>

    <script src="/LifeHub/app/static/JS/expenses/add.js"></script>

</body>

</html>